@import "color.scss";
@import "font.scss";

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #ececec;
  .container {
    width: 1150px;
    @media (max-width: 992px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    .header {
      margin-top: 40px;
      padding: 12px 10px;
      background-color: #e30019;
      border-radius: 5px;
      ul {
        list-style: none;
        display: flex;
        column-gap: 8px;
        li {
          a {
            color: #fff;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            &:hover {
              color: #e30019;
              background-color: #fff;
            }
            &:focus {
              color: #e30019;
              background-color: #fff;
            }
          }
        }
      }
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      .colLeft {
        width: 250px;
        padding-top: 20px;
        .menu {
          background-color: #fff;
          border-radius: 5px;
          ul {
            list-style: none;
            li {
              padding: 2px 5px;
              a {
                color: #000000c8;
                text-decoration: none;
                font-family: $f_KontrapunktMiki_Regular;
                display: block;
                padding: 8px 10px;
                border-radius: 5px;
                &:hover {
                  background-color: #e30019;
                  color: #fff;
                }
                &:focus {
                  background-color: #e30019;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .colRight {
        padding-top: 20px;
        width: 880px;
        .rightMain {
          background-color: #fff;
          border-radius: 5px;
          padding: 8px;
          .cartControl {
            margin-top: 10px;
          }
          .pagination {
            margin-top: 20px;
          }
          .productRows {
            display: flex;
            flex-wrap: wrap;
            column-gap: 18px;
            row-gap: 12px;
            .productBox {
              border: 1px solid #2b2b2b27;
              width: 202px;
              padding: 10px;
              border-radius: 4px;
              .productName {
                text-align: center;
                font-family: $f_GeneralSans_Extralight;
                font-size: 14px;
                margin-top: 10px;
              }
              .productPrice {
                text-align: center;
                font-family: $f_KontrapunktMiki_Regular;
                font-size: 16px;
                margin-top: 10px;
              }
              .addCart {
                text-align: center;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
